html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.anim {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

/* {{ edit_3 }} */
/* Add styles for the overlay text */
.logo, .leed,.button-container{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  visibility: hidden;
}

.logo.visible, .leed.visible ,.button-container.visible{
  opacity: 1;
  visibility: visible;
}

.logo {
  position: absolute;
  top: 28%; /* 200pxの余白を追加 */
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: 200;
  font-size: clamp(30px, 4.6vw, 80px);
  font-family: 'CormorantGaramond-Light', serif;
  /* font-family: 'Baskervville Regular', serif; */
  cursor: pointer;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: auto; /* ポインターイベントを有効にする */
}

/* .logo:hover {
  opacity: 0.7;
  transform: translateX(-50%) scale(1.05);
}

.logo.hovered {
  opacity: 0;
  pointer-events: none;
} */

.leed {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(16px, 4.5vw, 20px); 
  text-align: center;
  /* font-family: 'Baskervville Regular', serif; */
  pointer-events: none; 
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  position: absolute;
  /* bottom: 14%; */
  top:60%;
  width: 50vw;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.action-button {
  flex: 1;
  margin: 0 10px;
  padding: 20px 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.action-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.auth-links {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.auth-links.visible {
  opacity: 1;
}

.auth-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.auth-links a:hover {
  text-decoration: underline;
}
